body {
    margin: 0;
}

rank {
    display: flex;
    width: 512px;
}

rank square {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #E8E5E1;
}

/* dark squares */
rank:nth-of-type(odd) > square:nth-of-type(even),
rank:nth-of-type(even) > square:nth-of-type(odd) {
    background: #D8A367;
}

pieces piece {
    display: flex;
    position: absolute;
    cursor: -webkit-grab;
    padding: 9px;
}