body {
    margin: 0;
}

player.visible {
    position: absolute;
    width: 512px;
    height: 512px;
    z-index: 2;
}

player piece {
    cursor: -webkit-grabbing;
}

board square.selected {
 background: #e6f14c;
}

rank {
    display: flex;
    width: 512px;
}

rank square {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #E8E5E1;
}

/* dark squares */
rank:nth-of-type(odd) > square:nth-of-type(even),
rank:nth-of-type(even) > square:nth-of-type(odd) {
    background: #D8A367;
}

pieces piece {
    display: flex;
    position: absolute;
    padding: 9px;
    cursor: -webkit-grab;
}